hr {
  border: none;
  height: 1px;
  background-color: #c4c4c4;
  margin-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  color: var(--text-color);
  display: flex;
  gap: 0 35px;
}

.footer__list li:first-child {
  list-style: none;
}

.footer__list a {
  color: var(--text-color);
  text-decoration: none;
}

.footer__list a:hover {
  color: var(--main-color);
}
